@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gotu', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

svg {
  width: 90%;
  display: block;
  position: relative;
}

#title {
  font-size: 2em;
  font-weight: bold;
}

#tooltip {
  position: absolute;
  display: none;
  color: white;
  padding: 5px;
  line-height: 1.2;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 0.7em;
}
